.menu {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
  border: $menu-border-width solid $menu-border-color;
  box-shadow: $menu-box-shadow;
  > .menu-item {
    padding: $menu-item-padding-y $menu-item-padding-x;
    cursor: pointer;
    transition: $menu-transition;
    &:hover,
    &:focus {
      text-decoration: none;
    }
    &.is-disabled {
      color: $menu-item-disabled-color;
      pointer-events: none;
    }
    &.is-active,
    &:hover {
      color: $menu-item-active-color;
      border-bottom: $menu-item-active-border-width solid
        $menu-item-active-color;
    }
  }
  .submenu {
    position: relative;
    white-space: nowrap;
    padding: $menu-item-padding-y $menu-item-padding-x;
    cursor: pointer;
    transition: $menu-transition;
    .submenu-title {
      display: flex;
      align-items: center;
      .arrow-icon {
        margin-left: 3px;
        transition: transform 0.25s ease-in-out;
      }
    }
    &:hover,
    &:focus {
      .arrow-icon {
        transform: rotate(180deg);
      }
    }
    &.is-disabled {
      color: $menu-item-disabled-color;
      pointer-events: none;
    }
  }
  .is-vertical {
    .arrow-icon {
      transform: rotate(0deg) !important;
    }
  }
  .is-vertical.is-opened {
    .arrow-icon {
      transform: rotate(180deg) !important;
    }
  }
  .submenu-items {
    padding-left: 0;
    list-style: none;
    white-space: nowrap;
    .menu-item {
      padding: $menu-item-padding-y $menu-item-padding-x;
      cursor: pointer;
      transition: $menu-transition;
      color: $body-color;
      &.is-active,
      &:hover {
        color: $menu-item-active-color !important;
      }
      &.is-disabled {
        color: $menu-item-disabled-color;
        pointer-events: none;
      }
    }
  }
}

.menu-horizontal {
  .submenu,
  .menu-item {
    border-bottom: $menu-item-active-border-width solid transparent;
    &.is-active,
    &:hover {
      color: $menu-item-active-color;
      border-bottom: $menu-item-active-border-width solid
        $menu-item-active-color;
    }
  }
  .submenu {
    &:hover,
    &:focus {
      .arrow-icon {
        transform: rotate(180deg);
      }
    }
  }
  .submenu-items {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    right: 0;
    z-index: 5;
    background: $white;
    border: $menu-border-width solid $menu-border-color;
    box-shadow: $menu-box-shadow;
  }
}
.menu-vertical {
  flex-direction: column;
  border-bottom: 0;
  border-right: $menu-border-width solid $menu-border-color;
  .submenu,
  .menu-item {
    border-left: $menu-item-active-border-width solid transparent;
    &.is-active,
    &:hover {
      color: $menu-item-active-color;
      border-left: $menu-item-active-border-width solid $menu-item-active-color;
    }
  }
  .submenu-items {
    .menu-item {
      border-left: $menu-item-active-border-width solid transparent;
      &.is-active,
      &:hover {
        color: $menu-item-active-color;
      }
    }
  }
}
